[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

django = "*"
selenium = "<4"
behave = "*"
behave-django = "*"
django-test-without-migrations = "*"
dj-static = "*"
python-decouple = "*"
gunicorn = "*"


[dev-packages]

pylint = "*"
rope = "*"
"autopep8" = "*"
coverage = "*"


[requires]

python_version = "3.6"
