[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

Django = "*"
selenium = "<4"
behave = "*"
behave-django = "*"
django-test-without-migrations = "*"
dj-static = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
django-widget-tweaks = "*"
django-extensions = "*"


[dev-packages]

pylint = "*"
"autopep8" = "*"
coverage = "*"
ipython = {extras = ["notebook"]}


[requires]

python_version = "3.6"
